/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * Body base styles
 */

body {
  background: white;
  color: $color-gray-50;
  font-family: 'Poppins-Regular';  
  font-size: '16px';
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

