/*------------------------------------*\
    #Google Fonts - Poppins
\*------------------------------------*/

@font-face {
  font-family: 'Poppins-Regular';
  src:  url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype')
}

  