/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Heading 1
 */
h1  {
	font-size: 3rem;
	line-height: 1.2;
}

/**
 * Heading 2
 */
h2 {
	line-height: 1.2;
}

/**
 * Heading 3
 */
h3  {
	line-height: 1.2;
}

/**
 * Heading 4
 */
h4  {

}

/**
 * Heading 5
 */
h5 {

}

/**
 * Heading 6
 */
h6 {

}

