@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot');
	src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
	

@mixin <%= cssClass%>-styles() {
	font-family: "<%= fontName %>";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

%<%= cssClass%> {
	@include <%= cssClass%>-styles;
}

@function <%= cssClass%>-char($filename) {
	$char: "";
<% _.each(glyphs, function(glyph) { %>
	<% if(glyph.fileName !== "icons-demo.html"){ %>
		@if $filename == <%= glyph.fileName %> {
			$char: "\<%= glyph.codePoint %>";
		}
	<% }; %>
<% }); %>
@return $char;
}

@mixin <%= cssClass%>($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %<%= cssClass%>;
		} @else {
			@include <%= cssClass%>-styles;
		}
		content: <%= cssClass%>-char($filename);
	}
}

<% _.each(glyphs, function(glyph) { %>
	<% if(glyph.fileName !== "icons-demo.html"){ %>
		.<%= cssClass%>-<%= glyph.fileName %> {
			@include <%= cssClass%>(<%= glyph.fileName %>);
		}
	<% }; %>
<% }); %>
	}