/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Links
 */
a {
	color: $color-gray-50;
	text-decoration: none;
	outline: 0;

	&:hover, &:focus {
		color: $color-gray-73;
	}
}
