// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-grid-classes:                         true !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  mobile: 320,
  desktop: 1024px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters for desktop and mobile.

$grid-columns:                24 !default;
$grid-gutter-width:           10px !default;
$grid-row-columns:            6 !default;

$mobile-grid-columns:                12 !default;
$mobile-grid-gutter-width:           7px !default;