// -------------------------------
// Grid components
// -------------------------------

.column-grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 100px;
}
.row-wrap {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
$sizes: 12,24;

@each $size in $sizes {

    .col-#{$size} {
        box-sizing: border-box;
        background-color: aqua;
        border: 1px red solid;
        min-height: 1px;
        padding: 0 2.5px;
        text-align: center;
        left: auto;
        right: auto;

        @include col-grid-classes("s", $size);

        @media #{$medium-and-up} {
            @include col-grid-classes("m", $size);
        }

    }
}
