// -------------------------------
// mixins for column grid classses
// -------------------------------
@mixin col-grid-classes($size-class, $num-of-cols) {

    $i: 1;

    @while $i <=$num-of-cols {
        $perc: unquote((100 / ($num-of-cols / $i)) + "%");

        &.#{$size-class}#{$i} {
            max-width: $perc;
            flex: 0 0 $perc;
        }

        $i: $i+1;
    }
}