/// Grid system
//
// Generate semantic grid columns with these mixins.

@mixin make-container($gutter: $grid-gutter-width) {
  width: 100%;
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
  margin-right: auto;
  margin-left: auto;
}


// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-max-width;
    }
  }
}

@mixin make-row($gutter: $grid-gutter-width) {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gutter / 2;
  margin-left: -$gutter / 2;
}

@mixin make-col-ready($gutter: $grid-gutter-width) {
  position: relative;
  // Prevent columns from becoming too narrow when at smaller grid tiers by
  // always setting `width: 100%;`. This works because we use `flex` values
  // later on to override this initial width.
  width: 100%;
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
}

@mixin make-col($size, $columns: $grid-columns) {
  flex: 0 0 percentage($size / $columns);
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: percentage($size / $columns);
}

@mixin make-col-auto() {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; // Reset earlier grid tiers
}

@mixin make-col-offset($size, $columns: $grid-columns) {
  $num: $size / $columns;
  margin-left: if($num == 0, 0, percentage($num));
}

// Custom Grid columns
@mixin make-custom-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);
    @if($infix == '-mobile') {
      $gutter: $mobile-grid-gutter-width;
      @debug "the value of $length is `#{$gutter}`" ;
      @for $i from 1 through $mobile-grid-columns {
        .col-#{$i} {
          @include make-col($i, $mobile-grid-columns); 
        }
        .offset-#{$i} {
          $num: $i / $mobile-grid-columns;
          margin-left: if($num == 0, 0, percentage($num));
        }
      }
    }
    
    @if($infix == '-desktop') {
      
      @include media-breakpoint-up($breakpoint, $breakpoints) {
        .col-d {
          flex-basis: 0;
          flex-grow: 1;
          max-width: 100%;
        }
        
        @for $i from 1 through $columns {
          .col-d-#{$i} {
            @include make-col($i, $columns);
          }
          .offset-d-#{$i} {
            $num: $i / $columns;
            margin-left: if($num == 0, 0, percentage($num));
          }
        }
      }
    }
    
   
  }
}


@if $enable-grid-classes {
  .rya-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -3.5px;
    margin-right: -3.5px;
    @include media-breakpoint-up(desktop) {
      margin-left: -5px;
      margin-right: -5px;
    }
}
.rya-col {
  position: relative;
  width: 100%;
  min-height: 1px; // Prevent columns from collapsing when empty
  padding-left: 3.5px;
  padding-right: 3.5px;
  @include media-breakpoint-up(desktop) {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.column-grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    @include media-breakpoint-up(desktop) {
      padding: 0;
    }

    @include make-custom-grid-columns($grid-columns, $grid-gutter-width, $grid-breakpoints);
  }
}