@font-face {
	font-family: "icons";
	src: url('../icons.eot');
	src: url('../icons.eot?#iefix') format('eot'),
		url('../icons.woff') format('woff'),
		url('../icons.ttf') format('truetype'),
		url('../icons.svg#icons') format('svg');

@mixin icon-styles() {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	
		@if $filename == account {
			$char: "\E001";
		}
	

	
		@if $filename == checkmark {
			$char: "\E002";
		}
	

	
		@if $filename == consultations {
			$char: "\E003";
		}
	

	
		@if $filename == email {
			$char: "\E004";
		}
	

@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}


	
		.icon-account {
			@include icon(account);
		}
	

	
		.icon-checkmark {
			@include icon(checkmark);
		}
	

	
		.icon-consultations {
			@include icon(consultations);
		}
	

	
		.icon-email {
			@include icon(email);
		}
	

	
	}